body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  border: none;
  background-color:antiquewhite;
  margin: 0 auto;
}

.task-title {
  background-color: #f8f9fa;
}

.task-list {
  list-style: none;
  margin: 20px;
}

.task-card:hover {
  cursor: grab;
}
